{% extends "base.html.twig" %}

{% block header %}
    <h1> Регистрация </h1>
{% endblock %}

{% block content %}
    <input name="login" type="text" class="input user.name" placeholder="Логин"/>
    <input name="password" type="password" class="input password" placeholder="Пароль"/>
{% endblock %}

{% block footer %}
    <input type="submit" name="submit" value="Отправить" class="button" />
    <a href="/signIn">Вход</a>
{% endblock %}